@import "../styles/index.css";



.bigCounter {
    display: inline-block;
    margin: auto;
    text-align: center;
}

.bigCounter div {

    display: inline-block;
    font-size:100px;
    line-height: 120px;
   
    background: black;
    color: white;
    padding: 10px;
   
}