@import "../styles/index.css";


.bigCounter {
    display: inline-flex;
    margin-top: 200px;
    margin-left: 350px; 
    text-align: center;
}

.bigCounter div {

    display: inline-block;
    font-size:150px;
    line-height: 130px;
   
    background-color:darkblue ;
    color: white;
    padding: 10px;
   
}
#puntos{
    
    text-align: center; 
}
